<div class="container">
    <h2 class="mb-3">Employees List</h2>

    <table class="table">
        <thead>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.email }}</td>
                <td>
                    <button (click) = "updateEmployee(employee.id)" class="btn btn-primary">update</button>
                    <button (click) = "deleteEmployee(employee.id)" class="ml-1 btn btn-danger">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
