<div class="container">
    <h2 class="text-center mt-3">Employee details</h2>
    <hr>
    <div class="col-md-4 offset-4">
        <div class="form-group">
            <label class="" for="">First Name : {{ employee.firstname }}</label>
        </div>
        <div class="form-group">
            <label class="" for="">Last Name : {{ employee.lastname }}</label>
        </div>
        <div class="form-group">
            <label class="" for="">Email : {{ employee.email }}</label>
        </div>
    </div>
</div>
